.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 7rem 3rem;
}

.headerTitle {
  font-size: 45px;
  margin: 0;
}

.headerText {
  font-size: 23px;
}

.headerImageTitleWrapper {
  display: flex;
}

.headerIntroduction {
  max-width: 700px;
  flex-direction: column;
}

.elephantLogo {
  height: 55px;
  margin-right: 10px;
}

.background {
  background-color: var(--light-gray);
}

.content {
  display: flex;
  max-width: 90%;

  margin: auto;
}

.filterBox {
  margin-right: 5%;
  flex-shrink: 0;
}

.filterBoxCount {
  color: var(--dark-blue);
}
