.cites {
  padding: 0.25rem 0.75rem;

  font-family: 'Raleway', sans-serif;
  color: white;
  text-transform: uppercase;

  white-space: nowrap;
}

.citesI {
  background-color: var(--danger);
}
.citesI\/II {
  background: linear-gradient(to right, var(--danger), var(--warning));
}
.citesII {
  background-color: var(--warning);
}
.citesIII {
  background-color: var(--success);
}
.cites\? {
  background-color: var(--gray-blue);
}
