

.tableau{
  height: 30vh;
  width : 50%;
  margin-top: 10vh;
 margin-left: 35%;
}

.titre{
  text-align: center;
  font-size: 1em;
}

.data{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}