.data{
  margin-top:5%;
}



.titre{
  text-align: center;
  font-size: 1em;
}

.data{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.pie{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.pieClass{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.heat{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

@media (max-width: 991.98px) {
  
  .data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .pie{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .pieClass{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  
  }
  .heat{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    



}
}
