.nav {
  background-color: var(--light-gray);

  display: flex;
  flex-direction: row;
}

.navbarBrand {
  display: flex;
  align-items: center;

  padding-left: 3rem;

  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 2rem;

  color: black;
  text-decoration: inherit;
}

.brandLogo {
  height: 2em;
  margin: 0 1rem;
}

.navList {
  --navbar-link-width: 15rem;

  width: 100%;

  padding: 0;
  margin: 0;
  margin-right: min(
    20rem,
    calc(100% - var(--navbar-link-width) * 3)
  ); /* 20rem or remaining space */
  list-style: none;

  display: flex;
  justify-content: flex-end;
}

.navbarLink {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  text-decoration: none;
  color: var(--dark-blue);

  width: var(--navbar-link-width);
  padding: 0.5rem 1rem;
}

.navbarLink.active {
  background-color: var(--light-blue);

  border-bottom: 0.3rem solid var(--dark-blue);
}

.navbarLinkTitle {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}
