.search {
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
  width: 377px;
  max-height: 27px;
}

.searchbar {
  width: 350px;
  max-height: 27px;
  border: none;
}

.searchbar:focus {
  outline: none;
}

.searchbar::placeholder {
  padding-left: 7px;
}

.search-button {
  background: linear-gradient(
    149deg,
    rgba(27, 89, 247, 1) 0%,
    rgba(7, 22, 62, 1) 100%
  );
  border-radius: 20px;
  border: transparent;
  padding: 5px;
  cursor: pointer;
}

.search-button:focus {
  outline: none;
}
