.cardContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.singleCard{
  display: flex;
  flex-direction: column;
  width: 18%;

  background-color: white; 
  margin:1%;
  
 
}

.picCard{
  display: flex;
  width: 100%;
  height: 40%;
  


}

.caption{
  position: absolute;
  align-self: flex-end;
  margin-bottom: 3%;
  background-color:  #891758;
  width: 10em;
  color: white;
  padding-left: 0.5em;

}

.animalPic{
  border-radius: 40px;
  width: 100%;
}

.picCard{
  margin:0;
}

.vernacular{
  text-align: center;
  margin-bottom: 0;
}

.scientific{
  text-align: center;
  margin-bottom: 0;
  margin-top: 2%;
}

.resume{
  text-align: left;
  margin-top:2%;
}