.cardList {
  flex-grow: 1;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
  grid-gap: 0.5rem;

  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  color: inherit;
  text-decoration: inherit;
}
.link:hover {
  text-decoration: underline;
}

.card {
  --species-image-height: 250px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.figure {
  position: relative;
  margin: 0;
  padding: 0;
}

.image {
  object-fit: cover;
  object-position: top;
  width: 300px;
  height: var(--species-image-height);
  border-radius: 20%;
}

.figcaption {
  text-align: center;
}

.cites {
  position: absolute;
  top: calc(0.7 * var(--species-image-height)); /* 70% of image's height */
  left: 0px;

  transition: opacity 0.25s ease;
}

.link:hover .cites {
  opacity: 0;
}

.vernacular {
  margin-bottom: 0;

  font-family: 'Raleway', sans-serif;
}

.scientific {
  margin-bottom: 0;
  margin-top: 2%;

  font-style: italic;
  /* TODO Improve color contrast for a11y  */
  color: var(--gray-blue);
}

.resume {
  text-align: left;
  margin-top: 2%;
}
