@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Raleway:wght@500&family=Rye&display=swap');
/* 
font-family: 'Raleway', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Rye', cursive;
*/

:root {
  --primary: #33375f;
  --success: #1a771f;
  --info: #1b59f7;
  --warning: #c17803;
  --danger: #891758;

  --light-gray: #f4f5fa;

  --light-blue: #6e718c;
  --dark-blue: #33385d;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}
